apiVersion: apps/v1
kind: Deployment
metadata:
  name: socket
spec:
  replicas: 1
  selector:
    matchLabels:
      app: socket
  template:
    metadata:
      labels:
        app: socket
    spec:
      containers:
      - name: socket
        image: 354918399295.dkr.ecr.ap-south-1.amazonaws.com/ourstory-socket
        ports:
        - containerPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: socket-service
spec:
  selector:
    app: socket
  ports:
    - port: 3001

